@font-face {
	font-family: 'TruenoLt', 'Bubblewump', 'Good Unicorn';
	src: url("fonts/TruenoLt.otf"), url("fonts/Bubblewump.ttf"), url("fonts/Good Unicorn - TTF.ttf");
	font-weight: normal;
    font-style: normal;
}

* {
	margin: 0; 
	padding: 0;
	font-family: 'TruenoLt';
}
body {
    font-size: calc(0.55em + 0.55vw);
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    color: #3D3D3B;
}
p {
	font-size: 1.6rem;
	text-align: left;
}
/*Home*/
.container .row .col-md-8.home {
	margin: auto;
}
.container .row .col-md-8.home h2{
	margin: auto;
	letter-spacing: 0.8px;
}
.row .col-md-4 .home {
    margin-left: -200px;
    width: 100%;
}
.row .col-md-8.home .btn.btn-secondary {
  	color: white;
  	background-color: #212529;
	float: left;
}
.row .col-md-8.home .btn.btn-secondary:hover {
  	background-color: #A66060;
	border-color: #A66060;
}
section{
    background-color: #EECBCA;
}
.row2 {
	width: 100%;
	margin: auto;
	padding: 1% 0 1% 6%;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.row2 a {
	margin: auto;
	width: 40%;
	color: white;
}
.col4 h3, 
.col-sm-6 h3, 
.col-sm-6 h3 a{
    font-family: 'Bubblewump';
    text-align: center;
	color: black;
	letter-spacing: 0.8px;
}
.col4 p {
	color: black;
	text-shadow: none;
	text-align: center;
}
.col4{
	width: 23%;
	float: left;
	padding: 0% 1% 1% 1%;
}
.col4 img {
	width: 50%;
	padding-top: 1%;
}
.col4:hover {
	background-color: #D99791;
    text-decoration: none;
	border-radius: 5%;
}
.col4:last-child{
	padding: 1%;
}

.mySlides {
	padding-top: 0.1px;
	margin: auto;
	width: 99%;
	max-height: 80%;
	max-width: 100%;
}
.row img{
	width: 50%;
	padding-top: 1%;
	max-height: 250%;
}
.row a {
	margin: auto;
	width: 40%;
}
.column4 h1 {
    font-family: 'Bubblewump';
    text-align: center;
    margin-top: -40px;
    color: white;
    text-shadow: 4px 1px 10px #000000;
}
a .column4 h1:hover {
    color: #DCC6BD;
    text-decoration: none;
}

/*About*/
.asideRight {
    width: 28%;
    float: right;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 30px;
	margin-bottom: 10px;
}
.asideRight img {
	width: 90%;
}
.sectionLeft {
	font-size: 1.6rem;
    text-align: left;
    width: 55%;
    float: left;
    margin-right: 5%;
    margin-top: 30px;
    margin-left: 3%;
    margin-bottom: 100px;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    background-image: -webkit-linear-gradient(270deg,rgba(239,235,224,1.00) 0%,rgba(255,255,255,0.83) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(239,235,224,1.00) 0%,rgba(255,255,255,0.83) 100%);
    background-image: -o-linear-gradient(270deg,rgba(239,235,224,1.00) 0%,rgba(255,255,255,0.83) 100%);
    background-image: linear-gradient(180deg,rgba(239,235,224,1.00) 0%,rgba(255,255,255,0.83) 100%);
    border-top-right-radius: 25px;
}
.sectionLeft b a{
	color: black;
}
.social a:hover, .sectionLeft b a:hover {
	text-decoration: underline;
	color: #585251;
}
.sectionLeft .social li {
	margin-left: 5%;
	list-style-type: none;
}

/*Photography*/
.row {
	margin: 10px -16px ;
}
.row,
.row > .column {
	padding: 8px;
}
.column {
	float: left;
	width: 25%;
	margin-left: 90px;
	display: none; 
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.content {
	background-color: white;
	padding: 10px;
}
.show {
	display: block;
}
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
}
.btn:hover {
	background-color: #ddd;
}
.btn.active {
	background-color: #666;
	color: white;
}
.scale:hover img {
	transform: scale(1.35);
	transition: transform 0.5s ease-in-out;
}

/*Video*/
.video {
	padding: 56.25% 0 0 0;
	position:relative;
}
/*Design */
.row .col-sm-6 img {
	width: 80%;
}

/*Website*/
.web {
	width: 50%;
}
h3 a {
	color: black;
    text-align: center;
}
h3 a:hover {
    color: #C1B293;
    text-decoration: underline;
}

/* Footer */
footer {
	text-align: center;
	background-color: #4C586E;
	clear: both;
	font-family: 'TruenoLt';
	color: white;
	padding-bottom: 1%;
}

footer a {
	color: #FFFFFF;
}
footer a:visited {
	color: white;
}
.footer {
	margin: auto;
}
.footer a:hover {
	text-decoration: underline;
	color: #C1B293;
}

/*nav*/
.nav {
	font-family: 'TruenoLt';
	position:relative;
	display:inline-block;
	padding: 0.5% 0 0 0;
	color: black;
}
#logo {
    width: 4.5%;
    height: auto;
}
hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	width: 95%;
}
#navbarSupportedContent1 .navbar-nav.mr-auto.navlist.navbar-right .nav-item.active {
	background-color: #A66060;
	color: white;
}
#navbarSupportedContent1 .navbar-nav.mr-auto.navlist.navbar-right .nav-item.active a{
	background-color: #A66060;
	color: white;
}
.nav-item.dropdown .dropdown-menu .dropdown-item.active {
	background-color: #A66060;
	color: white;
}
.nav-list {
	text-align:right;
}
.nav-item {
	float:right;
	display:inline;
	position:relative;
	list-style-type: none;
}
.nav-item a {
	display:block;
	padding: 20px;
	text-decoration: none;
	color: #3D3D3B;
}
.nav-item > a:hover {
	background-color: #D99791;
	color: white;
	text-decoration: none;
}
.nav-item:hover .dropdown-menu{
	background-color: #D7D7D7;
	display:block;
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top .navbar-brand {
    font-size: 2.5em;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	@font-face {
    font-family: 'TruenoLt', 'Bubblewump', 'Good Unicorn';
    src: url("fonts/TruenoLt.otf"), url("fonts/Bubblewump.ttf"), url("fonts/Good Unicorn - TTF.ttf");
    font-weight: normal;
    font-style: normal;
	}
	* {
	margin: 0; 
	padding: 0;
	font-family: 'TruenoLt';
	}
	/* Navigation */
	.nav {
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
	position:relative;
	display:inline-block;
	padding: 0.5% 0 0 0;
	color: black;
	}
	#logo {
		height: auto;
		width: 16%;
	}
	.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top .navbar-brand {
   	 	font-size: 2em;
	}
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding: 50px 0 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item > a {
		padding: 15px;
		background: lightgray;
		color: black;
		font-size: calc(1em + 1vw);
	}
	.nav-item > a:hover {
	background-color: #5C5C5C;
	color: white;
	text-decoration: none;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	footer {
	text-align: center;
	background-color: #4C586E;
	clear: both;
	font-family: 'TruenoLt';
	color: white;
	padding-bottom: 1%;
	}
	/*Home*/
	.row .col-md-4 .home {
    margin: auto;
	width: 90%;
	}
	.row2 {
		padding: 0 0 1% 0;
	}
	
	.col4 {
  		float: left;
  		width: 50%;
  		padding: 10px;
		height: 320px;
	}
	 .column {
    width: 100%;
	}
	.row img{
	width: 100%;
	padding-top: 2%;
	}
	.col4 h3, 
	.col-sm-6 h3, 
	.col-sm-6 h3 a{
    font-family: 'Bubblewump';
    text-align: center;
	color: black;
	letter-spacing: 0.8px;
	}
	
	/*About*/
	.asideRight {
		width: 90%;
		float: none;
		margin-left: 5%;
		margin-right: 1%;
		margin-top: 30px;
	}
	.sectionLeft {
		width: 90%;
		float: none;
		margin-right: 5%;
		margin-top: 30px;
		margin-left: 1%;
		margin-bottom: 100px;
	}
	
	/*Photography*/
	.row {
		margin: 10px -16px;
	}
	/* Add padding BETWEEN each column */
	.row, .row > .column {
		padding: 3px;
	}
	/* Create three equal columns that floats next to each other */
	.column {
		float: left;
		width: 35%;
		margin-left: 50px;
		display: none; /* Hide all elements by default */
	}
	/* Clear floats after rows */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	/* Content */
	.content {
		background-color: white;
		padding: 10px;
	}
	
	/*Graphic Design*/
	.design img {
		width: 90%;
	}
	.design embed {
		width: 96%;
	}
	.scale2:hover img {
	transform: none;
	}
	
	/*Video*/
	.video {
		padding: 56.25% 0 0 0;
		position: relative;
	}

}
